<!-- Wrapper Start -->
<section class="about section">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="block">
						<h2>About Us</h2>
						<h4>Our Mission</h4>
						<p>Empowering Investors: We are on a mission to empower investors by providing them with comprehensive, data-driven insights that transcend traditional investment boundaries. PETTOGRAM is more than just a platform; it's a commitment to helping investors achieve their financial goals with confidence.</p>
						
						<p>Knowledge Sharing: Education is at the heart of our mission. We strive to bridge the gap between seasoned investors and those new to the investment world. PETTOGRAM offers a wealth of educational resources, ensuring that users can navigate the complexities of investments with ease.</p>
						
						<p>Innovation in Investment Technology: We are dedicated to advancing investment technology. PETTOGRAM's unique architecture, cutting-edge analytics engine, and commitment to continuous improvement set us apart as pioneers in the field.</p>

				</div>
			</div><!-- .col-md-7 close -->
			<div class="col-md-5">
				<div class="block">
					<img src="images/wrapper-img.png" alt="Img">
				</div>
			</div><!-- .col-md-5 close -->
		</div>
	</div>
</section>